frontend/bower_components/
frontend/assets/app.js
frontend/node_modules/
frontend/.pulp-cache/
frontend/.parcel-cache/
frontend/dist/
backend/dist-newstyle/
frontend/.log/
frontend/output/
frontend/generated-docs/
frontend/.psc-package/
frontend/.psc*
frontend/.purs*
frontend/.psa*
frontend/.spago
backend/.envrc
backend/test.db
